<div class="row" style="margin-top:12vh;">
  <div class="col-4 m-auto">
    <div class="card m-auto">
      <div class="card-header text-center bg-light bg-dark bg-gradient">
        <h3 style="color: white;"><strong>Register</strong></h3>
      </div>
      <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group col-12">
            <label for="name" class="form-label">Name<p class="d-inline"style="color: red;">*</p></label>
            <input type="text" class="form-control" formControlName="userName">
            <span *ngIf="!userName.valid && (userName.touched || userDidRegister)" class="error-block">
              <span *ngIf="userName.hasError('required')">
                Please provide a name!
              </span>
            </span>
          </div>

          <div class="form-group col-12">
            <label for="email" class="form-label">Email<p class="d-inline"style="color: red;">*</p></label>
            <input type="text" class="form-control" formControlName="email">
            <span *ngIf="!email.valid && (email.touched || userDidRegister)" class="error-block">
              <span *ngIf="email.hasError('required')">Provide an email id!
              </span>
              <span *ngIf="email.hasError('email')">Provide an valid email id!
              </span>
            </span>
          </div>

          <div class="form-group col-12">
            <label for="password" class="form-label">Password<p class="d-inline"style="color: red;">*</p></label>
            <input type="password" class="form-control" formControlName="password" />
            <span *ngIf="!password.valid && (password.touched || userDidRegister)" class="error-block">
              <span *ngIf="password.errors!['required']">
                Please provide password!
              </span>
              <span *ngIf="password.errors!.minlength">
                Password shouldn't be lesser then 8 characters
              </span>
            </span>
          </div>

          <div class="form-group col-12">
            <label for="password" class="form-label">Confirm Password<p class="d-inline"style="color: red;">*</p></label>
            <input type="password" class="form-control" formControlName="confirmPassword" />
            <span *ngIf="!confirmPassword.valid && (confirmPassword.touched || userDidRegister)" class="error-block">
              <span *ngIf="confirmPassword.hasError('required')">
                Please confirm password!
              </span>
            </span>
            <span *ngIf="registerForm.hasError('notmatched') && confirmPassword.valid" class="error-block">
              Password not matched!
            </span>
          </div>

          <div class="form-group col-12">
            <label for="mobile" class="form-label">Mobile<p class="d-inline"style="color: red;">*</p></label>
            <input type="text" class="form-control" formControlName="mobile">
            <span *ngIf="!mobile.valid && (mobile.touched || userDidRegister)" class="error-block">
              <span *ngIf="mobile.hasError('required')">

              </span>
              Provide a valid mobile number !
            </span>
            <span *ngIf="registerForm.hasError('notmobile') && mobile.valid" class="error-block">
              Provide a valid mobile number!
            </span>
          </div>

          <div class="form-group col-12">
            <button type="submit" class="btn w-100 btn-dark">Register</button>
          </div>
          <div class="form-group col-12">
            <button type="reset" class="btn w-100 btn-outline-dark">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
    <div class="col-3 ">
      <h3 class="mt-5">De ce sa iti creezi cont ?</h3>
      <ul >
        <li>Reduci timpul de finalizare a comenzii prin salvarea datelor de facturare, livrare si plata</li>
        <li>Verifici situatia comenzilor tale.</li>
        <li> Salvezi produse in wishlist si faci liste de cumparaturi</li>
        <li> Poti seta alerte de stoc</li>
      </ul>
    </div>
  <div class="col-5">
    <h2 class="text-center">Am deja cont</h2>
    <app-user-login></app-user-login>
  </div>
</div>
