<div class="container-fluid">
  <div class="row">
    <div class="">
      <img src="../../../assets/Images/logo.png" class="logo" >
      <input class="input">
      <button type="button" class="btn btn-dark btnSearch"><i class="fas fa-search "><span class="btnSearchText">
            Cauta</span></i></button>
      <button type="button" class="btn btn-dark btnAcc">
        <i class="fas fa-user-circle">
          <span class="btnAccText"> Acontul meu</span></i>
      </button>

      <button type="button" class="btn btn-dark btnBas">
        <i class="fas fa-shopping-basket">
          <span class="btnBasText"> Cosul meu</span></i>
      </button>
    </div>
  </div>
</div>
