.xSearch {
  position   : absolute;
  z-index    : 0;
  margin-top : 42px;
  margin-left: -20px;
}

.container {
  position: relative;
}

.logo {
  width       : 100px;
  margin-left : -2vw;
  margin-right: 2vw;
}

.container>button>input>img {
  position: absolute;
  top     : 5px;
  right   : 5px;
}

.UL {
  position : absolute;
  /* Sit on top of the page content */
  width    : 100%;
  /* Full width (cover the whole page) */
  height   : 100%;
  /* Full height (cover the whole page) */
  top      : 8.3vh;
  left     : 29.3vw;
  // right: 0;
  // bottom: 0;
  z-index  : 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor   : pointer;
  /* Add a pointer on hover */
}

.list-group-item {
  border-color : black;
  border-radius: 24px;
  border-width : 1px;
  margin-top   : 5px;
}

.fas>span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.btnAcc {
  margin-right: 15px;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .input {
    width: 50vw;
  }

  .UL {
    margin-left: -1vw;
  }

  .btnSearch {
    margin-right: 3vw;
    margin-left : 2vw;
  }

  .btnAcc {
    margin-right: 10px;
  }

  .btnAccText {
    font-size: 0;
  }

  .btnBasText {
    font-size: 0;
  }

  .btnSearchText {
    font-size: 0;
  }

  .btnAcc {
    display: none;
  }

  .btnBas {
    display: none;
  }

  .logo {
    margin-left : -2vw;
    margin-right: 2.1vw;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .input {
    width: 33vw;
  }

  .UL {
    margin-left: -4.6vw;
  }

  .btnSearch {
    margin-right: 3vw;
    margin-left : 1vw;
  }

  .btnAcc {
    margin-right: 10px;
  }

  .btnAccText {
    font-size: 0;
  }

  .btnBasText {
    font-size: 0;
  }

  .logo {
    margin-left: 5vw;
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .input {
    width: 20vw;
  }

  .UL {
    margin-left: -4.7vw;
  }

  .btnSearch {
    margin-right: 2vw;
    margin-left : 1vw;
  }

  .logo {
    margin-left: 10vw;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .btnSearch {
    margin-right: 3vw;
    margin-left : 1vw;
  }

  .input {
    width: 30vw;
  }

  .UL {
    margin-left: -5vw;
  }

  .logo {
    margin-left: 12vw;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .input {
    width: 30vw;
  }

  .btnSearch {
    margin-right: 3vw;
    margin-left : 1vw;
  }

  .logo {
    margin-left: 20vw;
  }
}
