<div class="container-fluid bg-light">
  <div class="row align-items-center">
    <div class="col">
      <img src="../../../assets/Images/logo.png" class="float-lg-right" width="100">
    </div>

    <input class="btn-input col-lg-4">
    <div class="col col-lg-2">
      <button type="button" class="btn btn-outline-dark">Cauta</button>
    </div>
    <div class="col col-lg-1">
      <button type="button" class="btn btn-outline-dark">Acontul meu</button>
    </div>
    <div class="col col-lg-2">
      <button type="button" class="btn btn-outline-dark">Cosul meu</button>
    </div>
  </div>
</div>
