<div class="container">
  <div class="row offset-1">
    <div>
      <img src="../../../assets/Images/logo.png" class="float-end mr-5" width="100">
      <input class="btn-input mr-2">
      <button type="button" class="btn btn-dark mr-3"><i class="fas fa-search"><span class="toHide">
            Cauta</span></i></button>
      <button type="button" class="btn btn-dark mr-3 btnHide">
        <i class="fas fa-user-circle">
          <span class="toHide"> Acontul meu</span></i>
      </button>

      <button type="button" class="btn btn-dark btnHide">
        <i class="fas fa-shopping-basket">
          <span class="toHide"> Cosul meu</span></i>
      </button>
    </div>
  </div>
</div>
