.card {
  min-height: 210px;
  max-width : 280px;
}
.card-body h1 {
  font-family: fantasy;
  color      : blue;
}

.font-hl {
  font-style: italic;
  color     : red;
}

.card-img-wrapper {
  overflow: hidden;
  position: relative;
}

.card-img-top {
  transform                 : scale(0.9, 1);
  transition-duration       : 500ms;
  transition-timing-function: ease-out;
  max-height                : 260px;
  margin-top                : -22px;
  margin-bottom             : -27px;

}

.card:hover img {
  transform                 : scale(0.95, 1.1);
  transition-duration       : 500ms;
  transition-timing-function: ease-out;
  max-height                : 260px;

}

.card-img-wrapper:hover .member-icons {
  bottom : 0;
  opacity: 1;
}

.animate {
  transition: all 0.3s ease-in-out;
}

