<div class="card mt-4 mb-4">
  <div class="card-img-wrapper">
    <img *ngIf="!product.image" class="card-img-top" src="../../../../assets/Images/products/placeholder.png" >
    <img *ngIf="product.categoryType.includes('Televizor')" class="card-img-top" src="{{product.image}}">
    <img *ngIf="product.categoryType=='Telefon'" style="height: 168px;" class="card-img-top mt-3 mb-3" src="{{product.image}}">
  </div>
  <div class="card-body">
    <div class="card-title text-center">
      <h6 type="button" style="max-height: 37px;overflow: hidden;min-height: 37px;" routerLink="/product-detail/{{product.id}}">
        {{product.title}} {{Desc[0]}} {{Desc[1]}} {{Desc[2]}} {{Desc[3]}} {{Desc[4]}}
      </h6>

    </div>
    <h6 class="card-title text-center">
      Pret: <span class="font-hl">{{product.price}}</span> &nbsp;Ron &nbsp;|
      <span *ngIf="product.stock>=1" style="color: green;">In stock</span>
      <span *ngIf="product.stock<1" style="color: red;">In stock</span>
    </h6>
  </div>
   <button (click)="addToCart(product)" *ngIf="product.stock>=1" class="btn btn-outline-dark m-4" >Adauga in cos</button>
   <button (click)="addToCart(product)" [disabled]="true" *ngIf="product.stock==0" class="btn btn-outline-dark m-4" >Adauga in cos</button>
</div>
