<h2>{{product?.categoryType}} {{product?.title}} {{Desc[0]}} {{Desc[4]}} {{Desc[3]}}</h2>
<hr>
<div class="row">
  <div class="col-8">

    <swiper [config]="config" [pagination]="true" style="z-index: 0;" class="mySwiper">
      <ng-template swiperSlide *ngFor="let slide of prImg">
        <div class="swiper-zoom-container">
          <img style="width: 500px;" src="{{slide}}">
        </div>
      </ng-template>
    </swiper>
  </div>
  <div class="col-3">
    <div class="row">
      <div class="col col-8 text-center">
        <span class="price">{{product?.price}}</span> <span style="font-size: 1.8vh;"> Ron</span>
      </div>
      <div class="vl col-1">
      </div>
      <div class="col col-4 text-center">
        <span class="btn rounded" *ngIf="checkStock()" style="background-color: rgb(0, 206, 0);margin-left: 3vw;">In
          Stock</span>
        <span class="btn rounded" *ngIf="!checkStock()" style="background-color: rgb(133, 0, 0);margin-left: 3vw;">In
          Stock</span>
      </div>

    </div>
    <br>
    <div class="row-cols-lg-1 text-center mx-auto ">
      <h6 class="garantie"><i class="fas fa-laptop-medical "></i>
        Garantie comerciala: 24 lunii</h6>
      <button [disabled]="true" *ngIf="!checkStock()" class="btn btn-outline-dark"><i
          class="fas fa-heart mr-2"></i>Adauga in cos</button>
      <button *ngIf="checkStock()" (click)="addToCart(product)" class="btn btn-outline-dark"><i
          class="fas fa-heart mr-2"></i>Adauga in cos</button>
    </div>
    <div class="m-auto">
      <h5 class="ml-4">In rate</h5>
      <span class="ml-5">46 RON/luna PayU</span><br>
      <span class="ml-5">47 RON/luna Credit Instant Online</span>
    </div>


  </div>
</div>
<div class="mb-5"></div>
<h3>Specificatii produs</h3>
<hr>
<!-- TELEVIZOR -->
<div class="row" *ngIf="product.categoryType=='Televizor'">
  <div class="col-6">
    <h5>Video</h5>
    <table class="table text-center table-light table-striped table-bordered">
      <tbody>
        <tr>
          <th scope="row">Tip TV</th>
          <td>{{Desc[0]}}</td>
        </tr>
        <tr>
          <th scope="row">Rezolutie ecran(pixeli)</th>
          <td>{{Desc[1]}}</td>
        </tr>
        <tr>
          <th scope="row">Dimensiune ecran(inch/cm)</th>
          <td>{{Desc[2]}}</td>
        </tr>
        <tr>
          <th scope="row">Rezolutie</th>
          <td>{{Desc[3]}}</td>
        </tr>
        <tr>
          <th>Tip Display</th>
          <td>{{Desc[4]}}</td>
        </tr>
        <tr>
          <th scope="row">Unghi de vizualizare</th>
          <td>{{Desc[5]}}</td>
        </tr>
        <tr>
          <th scope="row">Format ecran</th>
          <td>{{Desc[6]}}</td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="col-6">
    <h5>Conexiuni</h5>
    <table class="table text-center table-light table-striped table-bordered">
      <tbody>
        <tr>
          <th scope="row">Bluetooth</th>
          <td>{{Desc[7]}}</td>
        </tr>
        <tr>
          <th scope="row">Wi-Fi</th>
          <td>{{Desc[8]}}</td>
        </tr>
        <tr>
          <th scope="row">Wi-Fi Direct</th>
          <td>{{Desc[9]}}</td>
        </tr>
        <tr>
          <th scope="row">Culoare</th>
          <td>{{Desc[10]}}</td>
        </tr>
      </tbody>
    </table>
    <h5>Garantie</h5>
    <table class="table text-center table-light table-striped table-bordered">
      <tbody>
        <tr>
          <th>Garantie comerciala</th>
          <td> 24 luni</td>
        </tr>
        <tr>
          <th scope="">Garantie de conformitate</th>
          <td> 24 luni</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<div class="row" *ngIf="product.categoryType=='Telefon'">
  <div class="col-6">
    <h5>Caracteristici generale</h5>
    <table class="table text-center table-light table-striped table-bordered">
      <tbody>
        <tr>
          <th scope="row">Model</th>
          <td>{{Desc[0]}}</td>
        </tr>
        <tr>
          <th scope="row">Retea</th>
          <td>{{Desc[1]}}</td>
        </tr>
        <tr>
          <th scope="row">Sistem de operare</th>
          <td>{{Desc[2]}}</td>
        </tr>
        <tr>
          <th scope="row">Capcaitate stocare</th>
          <td>{{Desc[3]}}</td>
        </tr>
        <tr>
          <th scope="row">Memorie</th>
          <td>{{Desc[4]}}</td>
        </tr>
      </tbody>
    </table>
    <h5>Ecran</h5>
    <table class="table text-center table-light table-striped table-bordered">
      <tbody>
        <tr>
          <th scope="row">Tip Ecran</th>
          <td>{{Desc[5]}}</td>
        </tr>
        <tr>
          <th scope="row">Dimensiune ecran(Inch)</th>
          <td>{{Desc[6]}}</td>
        </tr>
        <tr>
          <th scope="row">Rezolutie ecran(pixeli)</th>
          <td>{{Desc[7]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-6">

    <h5>Informatii suplimentare</h5>
    <table class="table text-center table-light table-striped table-bordered">
      <tbody>
        <tr>
          <th scope="row">Bluetooth</th>
          <td>{{Desc[8]}}</td>
        </tr>
        <tr>
          <th scope="row">USB</th>
          <td>{{Desc[9]}}</td>
        </tr>
        <tr>
          <th scope="row">Fast Charging</th>
          <td>{{Desc[10]}}</td>
        </tr>
        <tr>
          <th scope="row">Capcacitate baterie(mAH)</th>
          <td>{{Desc[11]}}</td>
        </tr>
        <tr>
          <th scope="row">Culoare</th>
          <td>{{Desc[12]}}</td>
        </tr>
      </tbody>
    </table>
    <h5>Garantie</h5>
    <table class="table text-center table-light table-striped table-bordered">
      <tbody>
        <tr>
          <th>Garantie comerciala</th>
          <td> 24 luni</td>
        </tr>
        <tr>
          <th scope="">Garantie de conformitate</th>
          <td> 24 luni</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<div class="row" *ngIf="product.categoryType=='Laptop'">
  <div class="col-6">
    <h5>Ecran</h5>
    <table class="table text-center table-light table-striped table-bordered">
      <tbody>
        <tr>
          <th scope="row">Tip Ecran</th>
          <td>{{Desc[0]}}</td>
        </tr>
        <tr>
          <th scope="row">Rezolutie ecran(pixeli)</th>
          <td>{{Desc[1]}}</td>
        </tr>
        <tr>
          <th scope="row">Dimensiune ecran(inch/cm)</th>
          <td>{{Desc[2]}}</td>
        </tr>
        <tr>
          <th scope="row">Format Ecran</th>
          <td>{{Desc[3]}}</td>
        </tr>
        <tr>
          <th>Frecventa</th>
          <td>{{Desc[4]}}</td>
        </tr>
      </tbody>
    </table>
    <h5>Caracteristici principale</h5>
    <table class="table text-center table-light table-striped table-bordered">
      <tbody>
        <tr>
          <th scope="row">Tip Procesor</th>
          <td>{{Desc[5]}}</td>
        </tr>
        <tr>
          <th scope="row">Capacitate RAM(GB)</th>
          <td>{{Desc[6]}}</td>
        </tr>
        <tr>
          <th scope="row">Memorie maxima(GB)</th>
          <td>{{Desc[7]}}</td>
        </tr>
        <tr>
          <th scope="row">Tip Stocare</th>
          <td>{{Desc[8]}}</td>
        </tr>
        <tr>
          <th>Capacitate stocare(GB)</th>
          <td>{{Desc[9]}}</td>
        </tr>
        <tr>
          <th>Procesor video</th>
          <td>{{Desc[10]}}</td>
        </tr>
        <tr>
          <th>Memorie video</th>
          <td>{{Desc[11]}}</td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="col-6">
    <h5>Informatii suplimentare</h5>
    <table class="table text-center table-light table-striped table-bordered">
      <tbody>
        <tr>
          <th scope="row">Baterie</th>
          <td>{{Desc[12]}}</td>
        </tr>
        <tr>
          <th scope="row">Sistem operare</th>
          <td>{{Desc[13]}}</td>
        </tr>
        <tr>
          <th scope="row">Tastatura iluminata</th>
          <td>{{Desc[14]}}</td>
        </tr>
        <tr>
          <th scope="row">Culoare</th>
          <td>{{Desc[15]}}</td>
        </tr>
      </tbody>
    </table>
    <h5>Garantie</h5>
    <table class="table text-center table-light table-striped table-bordered">
      <tbody>
        <tr>
          <th>Garantie comerciala</th>
          <td> 24 luni</td>
        </tr>
        <tr>
          <th scope="">Garantie de conformitate</th>
          <td> 24 luni</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<hr>
<!-- TELEVIZOR -->
