<h2>Televizor ULED Smart HISENSE 65U7QF, Ultra HD 4K, HDR, 164cm</h2>
<span class="ml-3" style="color: gray;font-size: 1.8vh;">cod produs: 129873126</span>
<hr>
<div class="row">
  <div class="col-8">
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
  </div>
  <div class="col-3">
    <div class="row">
      <div class="col col-7 text-center">
        <span class="price">Pret 5222</span> <span style="font-size: 1.8vh;"> Ron</span>
      </div>
      <div class="vl col-1">
      </div>
      <div class="col col-4 text-center">
        <span class="btn rounded" style="background-color: rgb(0, 206, 0);margin-left: 3vw;">In Stock</span><br><br>
        <!-- <span class="btn rounded" *ngIf="product.stock>=1" style="background-color: rgb(0, 206, 0);margin-left: 3vw;">In Stock</span>
        <span class="btn rounded" *ngIf="product.stock<=0" style="background-color: rgb(133, 0, 0);margin-left: 3vw;">In Stock</span> -->
      </div>

    </div>
    <div class="row-cols-lg-1 text-center mx-auto ">
      <h6 class="garantie"><i class="fas fa-laptop-medical "></i>
        Garantie comerciala: 24 lunii</h6>
      <button class="btn mb-2" style="background-color: rgba(209, 0, 0, 0.952);"><i
          class="fas fa-shopping-basket mr-2 "></i>Adauga in Cos</button>
      <button class="btn btn-outline-dark"><i class="fas fa-heart mr-2"></i>Adauga la Favorite</button>
    </div>
    <div class="m-auto">
      <h5 class="ml-4">In rate</h5>
      <span class="ml-5">46 RON/luna PayU</span><br>
      <span class="ml-5">47 RON/luna Credit Instant Online</span>
    </div>
    <div class="card text-center ml-2 " style="width: 19rem;">
      Adauga Extra Garantie
      <div class="card-body ">
        <div class="row ">
          <label>
            <input type="radio" value="Male">
            <span>1 an <b>300 Ron</b></span>
          </label>
        </div>

        <div class="row">
          <label>
            <input type="radio" value="Male">
            <span>2 an <b>300 Ron</b></span>
          </label>
        </div>
        <hr>
        <input type="radio" value="Male">
          <label><span>Seriviciu instalare fara materiale incluse <b>150 Ron</b></span> </label>
        <input type="radio" value="Male">
          <label> <span>Seriviciu instalare cu materiale incluse <b>300 Ron</b></span></label>
      </div>
    </div>

  </div>
</div>
<div class="mb-5"></div>
<h3>Specificatii produs</h3>
<hr>
<div class="row">
  <div class="col-6">
    <h5>Video</h5>
    <table class="table text-center table-light table-striped table-bordered">
      <tbody>
        <tr>
          <th scope="row">Rezolutie ecran(pixeli)</th>
          <td>3840 x 2160</td>
        </tr>
        <tr>
          <th scope="row">Dimensiune ecran(inch/cm)</th>
          <td>65 / 164</td>
        </tr>
        <tr>
          <th scope="row">Rezolutie</th>
          <td>4K Ultra HD</td>
        </tr>
        <tr>
          <th>Tip Display</th>
          <td>Thornton</td>
        </tr>
        <tr>
          <th scope="row">Diagonala</th>
          <td>ULED</td>
        </tr>
        <tr>
          <th scope="row">Unghi de vizualizare</th>
          <td>178 / 178</td>
        </tr>
        <tr>
          <th scope="row">Format ecran</th>
          <td>16:9</td>
        </tr>

      </tbody>
    </table>
    <h5>Conexiuni</h5>
    <table class="table text-center table-light table-striped table-bordered">
      <tbody>
        <tr>
          <th scope="row">Bluetooth</th>
          <td>Da</td>
        </tr>
        <tr>
          <th scope="row">Wi-Fi</th>
          <td>Da</td>
        </tr>
        <tr>
          <th scope="row">Wi-Fi Direct</th>
          <td>Da</td>
        </tr>
        <tr>
          <th scope="row">Conectori</th>
          <td>4 x HDMI, 2 x USB</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="col-6">
    <h5>Caracteristici tehnice</h5>
    <table class="table text-center table-light table-striped table-bordered">
      <tbody>
        <tr>
          <th scope="row"> Putere consumata in standby (W)</th>
          <td>0.5</td>
        </tr>
        <tr>
          <th scope="row">Putere consumata in functiune (W) </th>
          <td>195</td>
        </tr>
        <tr>
          <th scope="row">Clasa eficienta energetica </th>
          <td>G</td>
        </tr>
      </tbody>
    </table>
    <h5>Alte caracteristici</h5>
    <table class="table text-center table-light table-striped table-bordered">
      <tbody>
        <tr>
          <th scope="row">Sistem de operare</th>
          <td> VIDAA U</td>
        </tr>
        <tr>
          <th scope="row">Dimensiuni cu stand (L x A x I cm)</th>
          <td>144.7 x 27 x 89.7</td>
        </tr>
        <tr>
          <th scope="row">Greutate fara stand (Kg) </th>
          <td>19.5</td>
        </tr>
        <tr>
          <th scope="row">Culoare </th>
          <td>Negru </td>
        </tr>
        <tr>
          <th scope="row">Greutate cu stand (Kg) </th>
          <td> 20 </td>
        </tr>
        <tr>
          <th scope="row">Continut pachet </th>
          <td>Televizor, Telecomanda, Baterii, Manual de utilizare </td>
        </tr>
      </tbody>
    </table>
    <h5>Garantie</h5>
    <table class="table text-center table-light table-striped table-bordered">
      <tbody>
        <tr>
          <th>Garantie comerciala</th>
          <td> 24 luni</td>
        </tr>
        <tr>
          <th scope="row">Garantie de conformitate</th>
          <td> 24 luni</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<hr>
