.scrolling-wrapper-flexbox {
  display                   : flex;
  flex-wrap                 : nowrap;
  overflow-x                : auto;
  -webkit-overflow-scrolling: touch;
  order:1;
  z-index: 0;
  &::-webkit-scrollbar {
    display: none;
  }

  .card {
    flex: 0 0 auto;
  }
}

.right {
  margin-top : -170px !important;
  font-size  : xx-large;
  margin-left: 40px;
  order:2;
}

.left {
  margin-top: 150px !important;
  font-size   : xx-large;
  margin-left : -10px;
  margin-right: 10px;
  order:2;

}
@media (max-width: 600.98px){
  .left{
    margin-top:9.3vh !important;
    margin-right: 10px!important;

  }
  .right {
    margin-top : -15vh !important;
  }
}
