<div class="container">
  <div class="row">
    <!-- side profile -->
    <div class="col col-lg-3 align-items-center ">
      <div class="card p-1 shadow-lg">

        <label class="hoverable ml-5 mt-5" for="fileInput">
          <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'">
          <div class="hover-text">Choose file</div>
          <div class="background"></div>
        </label>
        <br />
        <input id="fileInput" type='file' >

        <span class="text-center" style="font-size:x-large;"> {{user.userName}} </span>
        <hr>
        <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
          <input type="radio" class="btn-check" routerLink="/user/profile/1" (click)="reload()" (click)="passChange=false"
            name="vbtn-radio" id="vbtn-radio1" autocomplete="off">
          <label class="btn btn-outline-dark" for="vbtn-radio1">Contul meu</label>

          <input type="radio" class="btn-check" routerLink="/user/profile/2" (click)="reload()" name="vbtn-radio"
            id="vbtn-radio2" autocomplete="off">
          <label class="btn btn-outline-dark" for="vbtn-radio2">Informatii cont</label>

          <input type="radio" class="btn-check" routerLink="/user/profile/3" (click)="reload()" (click)="passChange=false"
            name="vbtn-radio" id="vbtn-radio3" autocomplete="off">
          <label class="btn btn-outline-dark" for="vbtn-radio3">Adrese</label>

          <input type="radio" class="btn-check" routerLink="/user/profile/4" (click)="reload()" (click)="passChange=false"
            name="vbtn-radio" id="vbtn-radio4" autocomplete="off">
          <label class="btn btn-outline-dark" for="vbtn-radio4">Comenzi</label>

          <input type="radio" class="btn-check" routerLink="/user/profile/5" (click)="reload()" (click)="passChange=false"
            name="vbtn-radio" id="vbtn-radio5" autocomplete="off">
          <label class="btn btn-outline-dark" for="vbtn-radio5">Retur produse</label>
        </div>
      </div>

    </div>
    <!-- Sumar cont -->
    <div *ngIf="pagina==1" class="col col-lg-9 ">
      <h2 class="m-4">Sumar cont</h2>
      <div class="card p-1 shadow-lg">
        <span class="m-4 fs-3">Informatii de contact <i routerLink="/user/profile/2" (click)="reload()" type="button"
            class="ml-5 fas fa-edit"></i></span>
        <span class="m-2">Email : {{user.email}}</span>
        <span class="m-2">Telefon : {{user.mobile}}</span>
        <hr class="m-2">

        <span class="m-4 fs-3">Comenzi recente <i routerLink="/user/profile/4" (click)="reload()"
            class="ml-5 fas fa-list-alt"></i></span>
        <div class="cmd" *ngFor="let item of [1,2,3]">
          <span class=" row">Comanada : #123123123</span>
          <span class=" row">Total comanda : 123 Ron</span>
          <span class=" row">Plasata pe : 12.12.2012</span>
          <button class="btn btn-outline-dark float-end">Vezi Comanda</button>
          <hr class="m-2">
        </div>
        <span class="m-4 fs-3">Adresa de contact <i routerLink="/user/profile/3" (click)="reload()" type="button"
            class="ml-5 fas fa-map-marked-alt"></i></span>
        <div class="row">
          <div class="col-6 text-center">
            <span class="m-2 fs-4 text-center">Adresa mea</span>
            <hr>
            <span class="m-3 row">Tara : {{user.tara}}</span>
            <span class="m-3 row">Judet : {{user.judet}}</span>
            <span class="m-3 row">Oras : {{user.oras}}</span>
            <span class="m-3 row">Strada : {{user.strada}}</span>
            <span class="m-3 row">numar : {{user.numar}}</span>
            <span class="m-3 row">Telefon : {{user.mobile}}</span>
          </div>

          <div class="col-6 text-center">
            <span class="m-2 fs-4">Date facturare</span>
            <hr>
            <span class="m-3 row">Tara : {{user.tara}}</span>
            <span class="m-3 row">Judet : {{user.judet}}</span>
            <span class="m-3 row">Oras : {{user.oras}}</span>
            <span class="m-3 row">Strada : {{user.strada}}</span>
            <span class="m-3 row">numar : {{user.numar}}</span>
            <span class="m-3 row">Telefon : {{user.mobile}}</span>
          </div>
        </div>


      </div>

    </div>
    <!-- Informatii cont -->
    <div *ngIf="pagina==2" class="col col-lg-9">
      <h2 class="m-4">Informatii cont</h2>
      <div class="card  card p-1 shadow-lg ">
        <div class="col-md-6 m-3">
          <label class="form-label">Email</label>
          <input type="email" value="{{user.email}}"[(ngModel)]="user.email"  class="form-control">
        </div>
        <div class="col-md-6 m-3">
          <label class="form-label">Telefon</label>
          <input type="text" value="{{user.mobile}}" [(ngModel)]="user.mobile" class="form-control">
        </div>

        <div class="col-12 m-3">
          <div class="form-check">
            <input class="form-check-input" (click)="passCheck()" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Schimba parola
            </label>
          </div>
        </div>

        <div *ngIf="passChange" style="margin-left: -12px;">
          <div class="col-md-6 m-3 ">
            <label class="form-label">Parola noua</label>
            <input type="password" [(ngModel)]="password" class="form-control" form-control>
          </div>
          <div class="col-md-6 m-3">
            <label class="form-label" >Confirma parola noua</label>
            <input type="password" [(ngModel)]="passwordConfirm" class="form-control" form-control>
          </div>
        </div>

        <div class="col-12 m-3">
          <button *ngIf="passChange" type="submit" (click)="changePassword()" class="btn btn-outline-dark">Salveaza parola</button>
          <button *ngIf="!passChange" type="submit" (click)="changeProfile()" class="btn btn-outline-dark">Salveaza</button>
        </div>

      </div>
    </div>
    <!-- Adrese -->
    <div *ngIf="pagina==3" class="col col-lg-9">
      <h2 class="m-4">Adrese</h2>
      <div class=" card shadow-lg p-1">

        <div class="row">
          <div class="col-6 mt-3">
            <div class="text-center"><span class="fs-4 text-ce">Adresa mea</span> </div>
            <hr style="border:dotted">
            <div>
              <div class="form-group col-md-12 ">
                <label class="form-label">Tara</label>
                <input type="text" [(ngModel)]="user.tara" value="{{user.tara}}"  class="form-control">
              </div>
              <div class="form-group col-md-12 ">
                <label class="form-label">Judet</label>
                <input type="text" [(ngModel)]="user.judet" value="{{user.judet}}"  class="form-control">
              </div>
              <div class="form-group col-md-12">
                <label class="form-label">Oras</label>
                <input type="text" [(ngModel)]="user.oras" value="{{user.oras}}"  class="form-control">
              </div>
              <div class=" form-group col-md-12 ">
                <label class="form-label">Strada</label>
                <input type="text" [(ngModel)]="user.strada" value="{{user.strada}}"  class="form-control">
              </div>
              <div class="form-group col-md-12">
                <label for="numar" class="form-label">Numar</label>
                <input type="text" [(ngModel)]="user.numar" value="{{user.numar}}"  class="form-control">
              </div>
              <div class="form-group col-lg-12 text-center">
                <button  (click)="changeProfile()" class="btn btn-outline-dark col-8 m-3">Modifica
                  adresa</button>
              </div>
            </div>
          </div>

          <div class="col-6 text-center mt-3 ">
            <span class="fs-4 ">Date facturare</span>
            <hr style="border:dotted">
            <div class="col fs-4 ">
              <span>Tara : </span><span>
                {{user.tara}}

              </span>
              <hr>
              <span>Judet : </span><span class="">
                {{user.judet}}

              </span>
              <hr>
              <span>Oras : </span><span>
                {{user.oras}}

              </span>

              <hr>
              <span>Strada : </span><span>
                {{user.strada}}

              </span>
              <hr>
              <span>Numar :</span><span>
                {{user.numar}}
                 </span>
              <hr>
              <span>Telefon : </span><span>
                {{user.mobile}}
              </span>
              <hr>
            </div>

          </div>
        </div>


      </div>

    </div>
    <!-- Comenzi -->
    <div *ngIf="pagina==4" class=" col col-lg-9 ">
      <h2 class="m-4">Comenzi </h2>
      <div class="card shadow-lg p-1">
        <div class="cmd m-4 " *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
          <span class=" row">Comanada : #123123123</span>
          <span class=" row">Total comanda : 123 Ron</span>
          <span class=" row">Plasata pe : 12.12.2012</span>
          <button class="btn btn-outline-dark float-end">Vezi Comanda</button>
          <hr class="m-2">
        </div>
      </div>
    </div>
    <!-- Retur produse -->
    <div *ngIf="pagina==5" class="col col-lg-9">
      <h2 class="m-4">Comenzi eligibile pentru retur </h2>
      <div class="card shadow-lg p-1">
        <div class="cmd m-4 " *ngFor="let item of [1,2]">
          <span class=" row">Comanada : #123123123</span>
          <span class=" row">Total comanda : 123 Ron</span>
          <span class=" row">Plasata pe : 12.12.2012</span>
          <button class="btn btn-outline-dark float-end">Vezi Comanda</button>
          <hr class="m-2">
        </div>
      </div>
      <h2 class="m-4">Retur produse </h2>
      <div class=" card shadow-lg p-1">
        <div class="row m-4">
          <div class="col-md-6">
            <label for="retur" class="form-label">Comanda #</label>
            <input type="email" class="form-control" id="retur">
          </div>
          <div class="col-md-6">
            <label for="mobile1" class="form-label">Numar de telefon</label>
            <input type="label" class="form-control" id="mobile1">
          </div>
          <div class="text-center col-5">
            <button class="btn btn-outline-dark col-5 m-3">Returneaza</button>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
