
  <h1 class="m-3" ><a type="button" routerLink="/product-category/Placa-Video">Placi video</a></h1>
  <app-product-list class="row"></app-product-list>
  <h1 class="m-3" routerLink="/product-category/Televizor" >Televizoare</h1>
  <app-product-list class="row"></app-product-list>
  <h1 class="m-3" routerLink="/product-category/Placa-Video">Placi video</h1>
  <app-product-list class="row "></app-product-list>
  <h1 class="m-3" routerLink="/product-category/Components">Componente</h1>
  <app-product-list class="row "></app-product-list>


