<div id="mySidenav" class="sidenav">
  <a *ngIf="loggedin()" (click)="false">
    Welcome {{loggedinUser}}
  </a>
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a routerLink="/">About</a>
  <a *ngIf="!loggedin()" (click)="closeNav()" routerLink="user/register" routerLinkActive="active">Register</a>
  <a *ngIf="!loggedin()" (click)="closeNav()" routerLink="user/login" routerLinkActive="active">Login</a>
  <a *ngIf="loggedin()"  (click)="onLogout()"><i class="fas fa-sign-out-alt"></i> Logout</a>

</div>

<nav class="navbar navbar-expand-lg  bg-dark">
  <button (click)="openNav()" class="navbar-toggler btn-close-white" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span><i class="fas fa-bars"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <div>
      <ul class="nav navbar-nav">
        <li *ngIf="!loggedin()" class="nav-item">
          <a class="nav-link" routerLink="user/register" routerLinkActive="active">
            Register
          </a>
        </li>
        <li *ngIf="!loggedin()" class="nav-item">
          <a class="nav-link" routerLink="user/login" routerLinkActive="active">
            Login
          </a>
        </li>

        <div *ngIf="loggedin()" class="dropdown mr-5" dropdown>
          <a href="#" class="dropdown-toggle text-light" dropdownToggle (click)="false">
            Welcome {{loggedinUser}}
          </a>
          <div class="dropdown-menu" *dropdownMenu>
            <a href="#" class="dropdown-item">
              <i class="fas fa-tachometer-alt"></i> View Dashbord</a>
            <a href="#" class="dropdown-item">
              <i class="fas fa-user-circle"></i> My Profile</a>
            <a href="#" class="dropdown-item">
              <i class="fas fa-key"></i> Change Password</a>
            <a (click)="onLogout()" class="dropdown-item">
              <i class="fas fa-sign-out-alt"></i> Logout</a>
          </div>
        </div>

      </ul>
    </div>
  </div>
</nav>
