.nav-link {
  color: white;
}

.nav-link:hover {
  color: grey
}

.nav-link:visited {
  color: white
}

a:link {
  text-decoration: none;
}

a:visited {
  color          : white;
  text-decoration: none;
}

a:hover {
  color          : grey;
  text-decoration: none;
}

.pfp {
  border-radius: 50%;
  height       : 190px;
  width        : 190px;
}


.sidenav {
  height          : 100%;
  width           : 0;
  position        : fixed;
  z-index         : 1;
  top             : 0;
  left            : 0;
  background-color: #111;
  overflow-x      : hidden;
  padding-top     : 60px;
  transition      : 0.5s;
}


.sidenav a {
  padding        : 8px 8px 8px 32px;
  text-decoration: none;
  font-size      : 25px;
  color          : #818181;
  display        : block;
  transition     : 0.3s
}

.offcanvas a:focus {
  color: #f1f1f1;
}

.closebtn {
  position   : absolute;
  top        : 0;
  right      : 25px;
  font-size  : 36px !important;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding   : 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.dropdown-menu>li {
  padding: 7px 35px;
}

.form-control {
  width: 22vw;
}

.dropdown-menu {
  margin-left: -20vh;
  margin-top : 10px;
}
