<div class="mb-5"></div>
<footer class="page-footer bg-dark">
  <div class="bg-dark">
    <div class=" py-3 d-flex align-content-center">
      <div class="container">

      </div>
    </div>
  </div>

  <div class="container text-center text-md-left mt-5">
    <div class="row">
      <div class="col-md-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold text-white">Companie</h6>
        <hr class="bg-white mb-4 mt-0 d-inline-block mx-auto" style="width: 120px;height: 2px;">
        <ul class="list-unstyled">
          <li class="my-2"><a routerLink="/">Despre noi</a></li>
          <li class="my-2"><a routerLink="/">Cariere</a></li>
          <li class="my-2"><a routerLink="/">Branduri disponibile</a></li>
          <li class="my-2"><a routerLink="/">Categorii produse</a></li>
          <li class="my-2"><a routerLink="/">Protectia mediului</a></li>
          <li class="my-2"><a routerLink="/">Vanzari corporate</a></li>
        </ul>
      </div>
      <div class="col-md-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold text-white">Suport clienti</h6>
        <hr class="bg-white mb-4 mt-0 d-inline-block mx-auto" style="width: 120px;height: 2px;">
        <ul class="list-unstyled">
          <li class="my-2"><a routerLink="/">Articole suport</a></li>
          <li class="my-2"><a routerLink="/">Contact</a></li>
          <li class="my-2"><a routerLink="/">Returneaza produse</a></li>
          <li class="my-2"><a routerLink="/">Reteaua de magazine eCommerce</a></li>
        </ul>
      </div>
      <div class="col-md-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold text-white">Informatii legale</h6>
        <hr class="bg-white mb-4 mt-0 d-inline-block mx-auto" style="width: 120px;height: 2px;">
        <ul class="list-unstyled">
          <li class="my-2"><a routerLink="/">Termeni si conditii</a></li>
          <li class="my-2"><a routerLink="/">Poltiica cookie-uri</a></li>
          <li class="my-2"><a routerLink="/">Informatii privind DEEE</a></li>
          <li class="my-2"><a routerLink="/">A.N.P.C</a></li>
          <li class="my-2"><a routerLink="/">Protectia datelor cu caracter personal</a></li>
          <li class="my-2"><a routerLink="/">ODR</a></li>
        </ul>
      </div>
      <div class="col-md-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold text-white">Comunicare</h6>
        <hr class="bg-white mb-4 mt-0 d-inline-block mx-auto" style="width: 120px;height: 2px;">

        <div class="col-md-12 text-center">
          <a href="">Abonare newsletter</a> <br>
          <a href=""><i class="fab py-2 fa-facebook-f text-white mr-3"></i></a>
          <a href=""><i class="fab fa-twitter text-white mr-3"></i></a>
          <a href=""><i class="fab fa-google text-white mr-3"></i></a>
          <a href=""><i class="fab fa-linkedin text-white mr-3"></i></a>
          <a href=""><i class="fab fa-instagram text-white"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div style="background-color: #1f1f1f8f;" class="text-white text-center py-2">
    <p class="m-3">Designed by @ Poenaru Mihai - Vladut</p>
  </div>

</footer>
