<div class="mb-5"></div>
<footer class="page-footer bg-dark">
  <div class="bg-dark">
    <div class=" py-3 d-flex align-content-center">
      <div class="container">

      </div>
    </div>
  </div>

  <div class="container text-center text-md-left mt-5">
    <div class="row">
      <div class="col-md-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold text-white">Companie</h6>
        <hr class="bg-white mb-4 mt-0 d-inline-block mx-auto" style="width: 120px;height: 2px;">
        <ul class="list-unstyled">
          <li class="my-2"><a href="#">Despre noi</a></li>
          <li class="my-2"><a href="#">Cariere</a></li>
          <li class="my-2"><a href="#">Branduri disponibile</a></li>
          <li class="my-2"><a href="#">Categorii produse</a></li>
          <li class="my-2"><a href="#">Protectia mediului</a></li>
          <li class="my-2"><a href="#">Vanzari corporate</a></li>
        </ul>
      </div>
      <div class="col-md-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold text-white">Suport clienti</h6>
        <hr class="bg-white mb-4 mt-0 d-inline-block mx-auto" style="width: 120px;height: 2px;">
        <ul class="list-unstyled">
          <li class="my-2"><a href="#">Articole suport</a></li>
          <li class="my-2"><a href="#">Contact</a></li>
          <li class="my-2"><a href="#">Returneaza produse</a></li>
          <li class="my-2"><a href="#">Reteaua de magazine eCommerce</a></li>
        </ul>
      </div>
      <div class="col-md-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold text-white">Informatii legale</h6>
        <hr class="bg-white mb-4 mt-0 d-inline-block mx-auto" style="width: 120px;height: 2px;">
        <ul class="list-unstyled">
          <li class="my-2"><a href="#">Termeni si conditii</a></li>
          <li class="my-2"><a href="#">Poltiica cookie-uri</a></li>
          <li class="my-2"><a href="#">Informatii privind DEEE</a></li>
          <li class="my-2"><a href="#">A.N.P.C</a></li>
          <li class="my-2"><a href="#">Protectia datelor cu caracter personal</a></li>
          <li class="my-2"><a href="#">ODR</a></li>
        </ul>
      </div>
      <div class="col-md-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold text-white">Comunicare</h6>
        <hr class="bg-white mb-4 mt-0 d-inline-block mx-auto" style="width: 120px;height: 2px;">

        <div class="col-md-12 text-center">
          <a href="">Abonare newsletter</a> <br>
          <a href=""><i class="fab py-2 fa-facebook-f text-white mr-3"></i></a>
          <a href=""><i class="fab fa-twitter text-white mr-3"></i></a>
          <a href=""><i class="fab fa-google text-white mr-3"></i></a>
          <a href=""><i class="fab fa-linkedin text-white mr-3"></i></a>
          <a href=""><i class="fab fa-instagram text-white"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div style="background-color: #1f1f1f8f;" class=" text-white text-center py-3">
    <p><a href="#"> Copyright &copy; text-to-be-filled</a></p>
    <p>Designed by @ text-to-be-filled</p>
  </div>

</footer>
